@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Lato&family=Lobster+Two&family=Montserrat&family=Mooli&family=Outfit&family=Poppins&family=Prompt&family=Roboto&family=Roboto+Serif:opsz,wght@8..144,600&family=Rosario:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body{
    background: url(images/image3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.form{
    width: 400px;
    background-color: rgba(0,0,0,0.09);
    box-shadow: 0 5px 25px rgba(0,0,0,0.09);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: absolute;
    left: 38%;
    top: 30%;
    border: none;
    border-radius: 15px;
}

.image{
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 12px 16px;
}

.title{
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.1em;
}

.input-fields{
    color: #fff;
    width: 80%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.input-fields input{
    width: 100%;
    outline: none;
    font-size:14px;
    padding: 14px;
    border: none;
    border-radius: 10px;
}

.button{
    padding-bottom: 20px;
}

.links a{
    color: white;
    font-size: 0.85em;
    font-weight: 800;
}
